@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .center {
    @apply flex justify-center items-center
  }

  .col-center {
    @apply flex flex-col justify-center items-center
  }

  .imgFit {
    @apply w-full h-full object-cover
  }
}

.roomsGrid {
  display: grid;
  grid-template-columns: repeat(2, 81.17px);
  gap: 6.03px 15.22px;
}